{% extends 'base.html' %}

{% block title %}Detalle de Usuario{% endblock %}

{% block content %}
    <h2>Detalle de Usuario</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>ID:</strong> {{ usuario.id }}</li>
        <li class="list-group-item"><strong>Nombres:</strong> {{ usuario.nombres }}</li>
        <li class="list-group-item"><strong>Apellidos:</strong> {{ usuario.apellidos }}</li>
        <li class="list-group-item"><strong>RUT:</strong> {{ usuario.rut }}</li>
        <li class="list-group-item"><strong>Dirección:</strong> {{ usuario.direccion }}</li>
        <li class="list-group-item"><strong>Teléfono:</strong> {{ usuario.telefono }}</li>
        <li class="list-group-item"><strong>Email:</strong> {{ usuario.email }}</li>
        <li class="list-group-item"><strong>Tipo de Usuario:</strong> {{ usuario.tipo_usuario.descripcion }}</li>
        <li class="list-group-item"><strong>Comuna:</strong> {{ usuario.comuna.nombre }}</li>
        <li class="list-group-item"><strong>Región:</strong> {{ usuario.region.nombre }}</li>
    </ul>
    <a href="{% url 'usuario_update' usuario.id %}" class="btn btn-warning mt-3">Editar</a>
    <a href="{% url 'usuario_list' %}" class="btn btn-secondary mt-3">Volver a la Lista</a>
{% endblock %}
